<h1 class="centered-title">Recipe Picker</h1>

<form (ngSubmit)="onSubmit()">
    <label for="ingredient">Ingredient:</label>
    <input type="text" id="ingredient" [(ngModel)]="ingredients" name="ingredient" required>
  
    <label for="quantity">Quantity:</label>
    <input type="text" id="quantity" [(ngModel)]="excluded" name="quantity" required>
  
    <label for="dateOfExpiry">Date of Expiry:</label>
    <input type="text" id="dateOfExpiry" [(ngModel)]="calcium" name="dateOfExpiry" placeholder="MM-DD-YYYY" required>
  
    <button type="submit">Submit</button>
</form>