<h1 class="centered-title">Recipe Picker</h1>

<form (ngSubmit)="onSubmit()">
    <label for="ingredient">Ingredient:</label>
    <input type="text" id="ingredient" [(ngModel)]="ingredients" name="ingredient" required>
  
    <label for="quantity">Excluded:</label>
    <input type="text" id="excluded" [(ngModel)]="excluded" name="excluded">
  
    <label for="dateOfExpiry">Calcium:</label>
    <input type="text" id="calcium" [(ngModel)]="calcium" name="calcium">
  
    <button type="submit">Submit</button>
</form>